<mat-toolbar color="primary">
    <mat-toolbar-row>
    DETRAN
   
    <button mat-button routerLink="/veiculos/">Veículos</button>
    <button mat-button routerLink="/condutores/">Condutores</button> 
    <button mat-button routerLink="/veiculos/compras-vendas/criar-compra-venda-veiculo/">Nova Compra/Venda de Veículo</button> 
    <button mat-button routerLink="/condutores/veiculo/veiculos-condutores/">Lista de Donos de Veículo</button>
    <button mat-button routerLink="/veiculos/condutor/condutores-veiculos/">Lista de Veículos por Condutor</button> 
     
  </mat-toolbar-row> 