<div>
    <h2>
        Histórico de Veículos de Condutor 
    </h2>
</div>
 
<br/>
<div>
    <botao-voltar></botao-voltar>
</div>

<br/>
<form class="row"  [formGroup]="formBuscar" (ngSubmit)="buscarVeiculosCondutor()">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body"> 
                <div class="form-row">
                    <div class="col-12 col-sm-4">
                        <label for="cpf">CPF do Condutor *</label>
                        <input type="text" formControlName="cpf" class="form-control form-control-sm" required>
                        <br/>
                        <button type="button" class="btn btn-sm btn-success" type="submit" [disabled]="!formBuscar.valid">
                            Buscar
                        </button>
                    </div>  
                </div>
            </div>
        </div>
    </div>
  </form>
  
<div *ngIf="comprasVendas.length > 0" class="card">
    <div>
        Condutor: {{condutor.nome}} 
    </div>
    <br/>
    <p-table [value]="comprasVendas" class="table table-striped table-bordered table-hover">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Cor</th>                            
                <th>Ano</th> 
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compraVenda>
            <tr>
                <td>{{compraVenda.veiculo.id}}</td>
                <td>{{compraVenda.veiculo.placa}}</td>
                <td>{{compraVenda.veiculo.modelo}}</td>
                <td>{{compraVenda.veiculo.marca}}</td>
                <td>{{compraVenda.veiculo.cor}}</td>
                <td>{{compraVenda.veiculo.anoFabricacao}}</td> 
            </tr>
        </ng-template>
    </p-table>
</div>